/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;

	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* Fin de la base de code */
a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

nav a {
	font-size: 16px;
}

nav a.nav-active {
	font-weight: 600;
	color: black;
}

header img {
	width: 22px;
	height: 22px;
}
/* Filtres */
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px 0;
}

.filters button {
	font-size: 16px;
	padding: 9px 18px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: white;
	color: #1D6154;
	cursor:pointer;
}

.filters button:hover {
	background: #1D6154;
	color: white;
}

.filters button.is-active {
	background: #1D6154;
	color: white;
}

/* Page login */
.login {
	width:50%;
	margin: 150px auto 200px auto;
	text-align: center;
}

.login form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.login label {
	margin: 30px 0 10px 0;
	font-size: 16px;
	font-weight: 500;
}

.login input {
	height: 60px;
	font-size: 14px;
	padding: 0 16px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login button {
	font-family: "Syne";
	font-weight: bold;
	font-size: 14px;
	background-color:#1D6154;
	color: white;
	border: none;
	border-radius: 60px;
	padding: 0px 30px;
	cursor: pointer;

	width: 180px;
	height: 36px;
	margin: 32px auto 0px;

}

.forgot-password {
	display: inline-block;
	margin-top: 24px;
	color: #3d3d3d;
	text-decoration: underline;
	font-size: 14px;
}

.login-error {
	margin-top: 16px;
	font-size: 16px;
	text-align: center;
	color:rgb(228, 15, 15);
}

/* Mode édition */

.edit-banner {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 16px;
	background-color: black;
	color: white;
}

.portfolio-top {
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 24px;
	margin: 60px;
}

.edit-button {
	display: none;
	border: none;
	background: transparent;
	align-items: center;

	gap: 8px;
	font-size: 16px;
	color: black;
	cursor: pointer;

	font-family: "Work Sans", sans-serif;
}

/* Modale */
.modale-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
}

.modale-overlay.is-open {
	display: flex;
}

.modale {
	background-color: white;
	width: 630px;
	padding: 20px 30px;
	border-radius: 10px;

	max-height: 80%;
	overflow: auto;
}

.modale-header {
	position: relative;
	height: 30px;
	margin-bottom: 10px;
}

.modale-title {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	margin: 20px 0;
}

.modale-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}

#modale-view-gallery {
	padding: 0 60px 10px;
}

.modale-gallery figure {
	margin: 0;
	position: relative;
	height: 100px;
}

.modale-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;

}

.modale-separator {
	height: 1px;
	background-color: #b3b3b3;
	margin: 30px 0;
}

.main-button {
	margin: 0 auto;
	display: block;

	height: 36px;
	width: 50%;
	padding: 0 30px;
	border-radius: 60px;
	border: none;
	
	background-color: #1D6154;
	color: white;
	cursor: pointer;
	font-family: "Syne";
}

.modale-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modale-form input, .modale-form select {
	height: 50px;
}

.upload-box {
	background: #e8f1f6;
	height: 169px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin: 10px 0 20px;
}

.upload-icon {
  font-size: 76px;
  color: #b9c5cc;
}

.thumb-trash {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 17px;
  height: 17px;

  border: none;
  border-radius: 2px;
  background: #000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
}

.modale-back, .modale-close {
  position: absolute;
  top: 0;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}

.modale-back {
	left: 0;
}

.modale-close {
	right: 0;
}

#modale-view-add-photo {
  padding: 0 90px 20px; 
}

.button-upload {
  height: 36px;
  padding: 0 20px;
  border: none;
  border-radius: 50px;
  background: #cbd6dc;
  color: #306685;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.upload-info {
  font-size: 10px;
  color: #444;
  margin: 0;
}

.modale-form label {
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 6px;
}

.modale-form input, .modale-form select {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0 12px;
  font-size: 14px;
  background: #fff;
}

.modale-form .main-button {
  width: 237px;
  height: 36px;
  margin: 25px auto 0;
  border-radius: 60px;
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.modale-form .main-button:disabled {
  background: #a7a7a7;
  cursor: not-allowed;
}

[hidden] {
	display: none;
}